* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: RobotoMono;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@font-face {
    font-family: RobotoMono;
    src: url(./assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

:root {
    --primaryColor: #5919DF;
    --grey: #565656;
}